/* Paleta de colores: 	http://paletton.com/#uid=12V0u0kaFwc2SSy6pI0fDr7ljlq
 * Oracle Reference: 	https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 * W3 Reference: 		https://www.w3.org/TR/CSS21/
 * 
 * http://blog.randahl.dk/2012/12/javafx-designing-for-multiple-screen.html
 * 3840x2160 o 1920x1080
 */
 
*{
 	-fx-font-family: "Roboto";
 	-fx-alignment: center;
 }
 
.VistaInicial{
	-fx-background-color: #7EBD91;
	-fx-alignment: center;
	-fx-pref-width: 1366;
	-fx-pref-height: 768;

}
.BotonIniciarPartida{
	-fx-background-color: transparent;
	-fx-text-fill: #2A7E43;	
	-fx-font-size:48.0;
}
.BotonNuevaPartida{
	-fx-background-color: transparent;
	-fx-text-fill: #2A7E43;	
	-fx-font-size:48.0;
}

.VistaConfiguracionPartida{
	-fx-background-color: #3F6E4D;
	-fx-alignment: center;
	-fx-pref-width: 1366;
	-fx-pref-height: 768;
}

.VistaPartida{
	-fx-background-color: transparent;
	-fx-alignment: center;
	-fx-pref-width: 1366;
	-fx-pref-height: 768;
}

.VistaTablero{
	-fx-background-color: lightgray;
	-fx-alignment: center;
	-fx-pref-width: 768;
	-fx-pref-height: 768;
}

.VistaRonda{
	-fx-background-color: white;
	-fx-alignment: center;
	-fx-pref-width: 598;	
	-fx-pref-height: 256;
}

.VistaTurnoTitulo{
	-fx-background-color: lightgreen;
	-fx-alignment: center;
	-fx-pref-width: 598;	
	-fx-pref-height: 100;	
}

.VistaTurnoDinamica{
	-fx-background-color: green;
	-fx-alignment: center;
	-fx-pref-width: 598;	
	-fx-pref-height: 476;
}

.VistaCasillero{
	-fx-border-color:black;
	-fx-border-width:1px;
	-fx-alignment: center;
	-fx-pref-width: 128;	
	-fx-pref-height: 128;
}


.VistaTableroCentro{
	-fx-background-color: white;
}

.VistaJugador{
	-fx-border-color:black;
	-fx-border-width: 1px;
}
